html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

.mdl-layout .mdl-layout__header,
.mdl-layout .mdl-layout__drawer-button {
	color: white;
}

.mdl-layout-title img {
	height: 44px;
	margin-right: 1em;
}

.mdl-navigation .mdl-navigation__link.active {
    background-color: #e0e0e0;
}

#content {
	margin: 1em;
}

#loading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	z-index: 10;
	background: rgba( 255, 255, 255, 0.5 );
}

#loading .mdl-spinner {
	width: 20vh;
	height: 20vh;
	margin: auto;
}

@media screen and (min-width: 1025px) {
	.mdl-layout__drawer .mdl-layout-title {
		display: none;
	}
}