@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@font-face {
	font-family: 'JustDanceBold';
	src: url('fonts/jd-bold.eot');
	src: local('☺'), url('fonts/jd-bold.woff') format('woff'), url('fonts/jd-bold.ttf') format('truetype'), url('fonts/jd-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'Roboto', sans-serif;
}

body {
	background-image: url('img/bg-flou.png');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

div#ups {
	display: none;
}

div#decos {
	position: fixed;
}
div#decos img {
	height: 30px;
	width: auto;
}
div#decos img#perfect {
	top: 7px;
	position: fixed;
	left: 90%;
}
div#decos img#ok {
	position: fixed;
	left: 90%;
	top: 70%;
}
div#decos img#yeah {
	position: fixed;
	top: 60%;
}
div#decos img#wrong {
	position: fixed;
	top: 95%;
	left: 30%;
}
div#decos img#good {
	top: 7px;
	position: fixed;
	left: 20%;
}
div#decos img#poireau {
	position: fixed;
	top: 95%;
	left: 70%;
}
div#decos img#panda {
	position: fixed;
	left: 90%;
	top: 30%;
}
div#decos img#zebra {
	position: fixed;
	left: 90%;
	top: 90%;
}
div#decos img#unicorn {
	top: 7px;
	position: fixed;
	left: 5%;
}
div#decos img#diamond {
	top: 7px;
	position: fixed;
	left: 65%;
}
div#decos img#rabbit {
	position: fixed;
	top: 25%;
}
div#decos img#rabbit1 {
	top: 7px;
	position: fixed;
	left: 50%;
}
div#decos img#robot {
	position: fixed;
	top: 90%;
	left: 15%;
}
div#decos img#couronne_bleue {
	position: fixed;
	top: 90%;
	left: 5%;
}
div#decos img#couronne_orange {
	position: fixed;
	top: 15%;
}
div#decos img#couronne_verte {
	position: fixed;
	left: 35%;
	top: 7px;
}
div#decos img#couronne_rouge {
	position: fixed;
	top: 50%;
	left: 90%;
}

div#decos img#fleche {
	width: 150px;
	height: auto;
	position: fixed;
	top: 80%;
	left: 18%;
	transform: rotate(317deg);
    -webkit-transform: rotate(317deg);
    -moz-transform: rotate(317deg);
}

#final-div {
	display: none;
	width: 900px;
	flex-direction: column;
	align-items: center;
	height: 80%;
	margin: auto;
}

#players-form, #ups {
		width: 500px;
    margin: auto;
}
#final-div iframe {
  width: 720px;
	height: 409px;
	margin-top: 30px;
	border: #16a085 5px solid;
	border-radius: 4px;
	box-shadow: 0px 13px 28px 3px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 13px 28px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 13px 28px 3px rgba(0,0,0,0.75);
}
#dance img {
  width: 720px;
	height: 409px;
	margin-top: 30px;
	border: #16a085 5px solid;
	border-radius: 4px;
	box-shadow: 0px 13px 28px 3px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 13px 28px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 13px 28px 3px rgba(0,0,0,0.75);
	transition: 0.2s;
}

#dance img:hover{
	transition: 0.2s;
}
#players-form, #ups {
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#players-form input[type=text] {
	width: 100%;
	border: 0;
	border-bottom: #1abc9c 2px solid;
	background-color: rgba(255, 255, 255, 0);
}
#players-form label {
	color: black;
}
#players-form input[type=text]:focus {
	border: 0;
	border-bottom: #16a085 2px solid;
}
#players-form button {
	margin-top: 50px;
	width: 50%;
}
#players-form img, #ups img {
	width: 80%;
	height: auto;
}
#final-div img#fivestars {
	display: none;
	position: fixed;
	top: -5px;
	z-index: -96;
}

@media screen and (max-width: 918px) {
	#final-div {
		width: 700px;
	}
	#final-div iframe {
		width: 500px;
		height: 300px;
	}
	#final-div img#fivestars {
		top: 0px;
	}
}

@media screen and (max-width: 710px) {
	#final-div {
		width: 500px;
	}
	#final-div iframe {
		width: 400px;
		height: 250px;
	}
	#final-div img#fivestars {
		top: 0px;
	}
}

@media screen and (max-width: 515px) {
	#final-div {
		width: 315px;
	}
	#final-div iframe {
		width: 300px;
		height: 200px;
	}
	#players-form, #ups {
		width: 300px;
	}
	#final-div img#fivestars {
		top: 0px;
	}
}

button {
	padding: 12px 40px 12px 40px;
	background-color: #1abc9c;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-weight: 400;
	font-size: 15px;
	border-radius: 3px;
	box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.75);
	border: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 3.75px;
	margin-left: 3.75px;
	cursor: pointer;
	transition: 0.3s;
}

button:hover{
	background-color: #16a085;
	transition: 0.3s;
}

button:click{
	background-color: #0b4e41;
	transition: 0.3s;
}

#final-div div#icon {
	/*margin-top: 400px;*/
}

#icon img{
	width: 175px !important;
}

#names{
	font-family:'JustDanceBold', sans-serif !important;
	font-size: 40px;
	text-shadow: 0px 4px 4px #34495e;
	color: white;
	text-transform: uppercase;
	margin-top: 0;
	/*margin-top: -30px;*/
}

#song{
	font-family:'JustDanceBold', sans-serif !important;
	font-size: 40px;
	text-shadow: 0px 4px 4px #34495e;
	color: white;
	text-transform: uppercase;
	margin-top: 0;
	/*margin-top: -30px;*/
}

#names b{
	font-family:'JustDanceBold', sans-serif !important;
	font-size: 45px;
	text-shadow: 0px 4px 4px #34495e;
	color: #f1c40f;
	text-decoration: underline;
	text-transform: capitalize;
}

#song b{
	font-family:'JustDanceBold', sans-serif !important;
	font-size: 45px;
	text-shadow: 0px 4px 4px #34495e;
	color: #f1c40f;
	text-decoration: underline;
	text-transform: capitalize;
}

.hover-pointer:hover{
	cursor: pointer;
}

@media screen and (max-width: 1000px) {
	#final-div, #players-form {
		display: none;
	}
	#ups {
		display: block !important;
	}
}
