@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
	font-family: 'Roboto', sans-serif;
}

body {
	background-image: url('img/bg-flou.png');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

div#decos {
	position: fixed;
}
div#decos img {
	height: 30px;
	width: auto;
}
div#decos img#perfect {
	position: fixed;
	left: 90%;
}
div#decos img#ok {
	position: fixed;
	left: 90%;
	top: 70%;
}
div#decos img#yeah {
	position: fixed;
	top: 60%;
}
div#decos img#wrong {
	position: fixed;
	top: 95%;
	left: 30%;
}
div#decos img#good {
	position: fixed;
	left: 20%;
}
div#decos img#poireau {
	position: fixed;
	top: 95%;
	left: 70%;
}
div#decos img#panda {
	position: fixed;
	left: 90%;
	top: 30%;
}
div#decos img#zebra {
	position: fixed;
	left: 90%;
	top: 90%;
}
div#decos img#unicorn {
	position: fixed;
	left: 5%;
}
div#decos img#diamond {
	position: fixed;
	left: 65%;
}
div#decos img#rabbit {
	position: fixed;
	top: 25%;
}
div#decos img#rabbit1 {
	position: fixed;
	left: 50%;
}
div#decos img#robot {
	position: fixed;
	top: 90%;
	left: 15%;
}
div#decos img#couronne_bleue {
	position: fixed;
	top: 90%;
	left: 5%;
}
div#decos img#couronne_orange {
	position: fixed;
	top: 15%;
}
div#decos img#couronne_verte {
	position: fixed;
	left: 35%;
	top: 7px;
}
div#decos img#couronne_rouge {
	position: fixed;
	top: 50%;
	left: 90%;
}

div#decos img#fleche {
	width: 150px;
	height: auto;
	position: fixed;
	top: 80%;
	left: 18%;
	transform: rotate(317deg);
-webkit-transform: rotate(317deg);
-moz-transform: rotate(317deg);
}

#final-div {
	display: none;
}
#final-div h1 {
	margin-top: 0;
}

#players-form, #final-div {

		width: 500px;
    height: 100%;
    margin: auto;
}
#final-div {
	width: 900px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#final-div iframe {
  width: 700px;
	height: 400px;
	margin-top: 30px;
	border: #ff5722 5px solid;
	border-radius: 4px;
	box-shadow: 14px 13px 28px 3px rgba(0,0,0,0.75);
	-webkit-box-shadow: 14px 13px 28px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 14px 13px 28px 3px rgba(0,0,0,0.75);
}
#players-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#players-form input[type=text] {
	width: 100%;
	border: 0;
	border-bottom: #ff5722 2px solid;
	background-color: rgba(255, 255, 255, 0);
	margin-top: 40;
	margin-bottom: 60;
}
#players-form input[type=text]:focus {
	border: 0;
	border-bottom: #ff5722 2px solid;
}
#players-form button {
	width: 50%;
}
#players-form img {
	width: 80%;
	height: auto;
}
#final-div img#fivestars {
	position: fixed;
	top: -5;
	z-index: -96;
}

@media screen and (max-width: 918px) {
	#final-div {
		width: 700px;
	}
	#final-div iframe {
		width: 500px;
		height: 300px;
	}
	#final-div img#fivestars {
		top: 35;
	}
}

@media screen and (max-width: 710px) {
	#final-div {
		width: 500px;
	}
	#final-div iframe {
		width: 400px;
		height: 250px;
	}
	#final-div img#fivestars {
		top: 60;
	}
}

@media screen and (max-width: 515px) {
	#final-div {
		width: 300px;
	}
	#final-div iframe {
		width: 300px;
		height: 200px;
	}
	#players-form {
		width: 300px;
	}
	#final-div img#fivestars {
		top: 90;
	}
}

button {
	padding: 12px 40px 12px 40px;
	background-color: #ff5722;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-weight: 400;
	font-size: 15px;
	border-radius: 3px;
	box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.75);
	border: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 3.75px;
	margin-left: 3.75px;
	cursor: pointer;
}
